.houses_container {
    padding: 20px;
    width: 100%;
    .title {
        text-align: center;
        padding: 20px;
        h1 {
            text-transform: uppercase;
            font-weight: bold;
            color: #333;
        }
    }
    // .stations-list-container {
    //     display: block;
    //     width: 100%;
    // }

    .houses_components {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin: auto;
        .filters_container {
            display: block;
            width: 350px;
            min-width: 350px;
            padding: 10px;
            border: 2px solid #ff385c;
            border-radius: 15px;
        }
        .houses {
            display: block;
            // width: 71%;
            // margin: auto;
            padding-left: 30px;
            // border: 2px solid #ff385c;
            // border-radius: 15px;
            .buttons_box {
                display: flex;
                justify-content: flex-start;
                gap: 20px;
                button {
                    padding: 5px;
                    width: 70px;
                    // border: 2px solid #b62f48;
                    border: 2px solid #ff627f;
                    border-radius: 15px;
                    background-color: #ff385c;
                    color: #FFF;
                    font-size: 15px;
                    font-weight: bold;
                    text-transform: uppercase;
                    &:hover {
                        border: 2px solid #ff385c;
                        background-color: #ff627f;
                    }
                    &:active {
                        background-color: #ff385c;
                    }
                }
            }
        }
    }

    .pagination {
        text-align: center;
        display: flex;
        list-style: none;
        border-radius: 0.25rem;
        nav {
            display: block;
            margin: auto;
            margin-top: 4%;
        }
    }
    
}

@media screen and (max-width: 576px) {

    .houses_container {
        min-height: 84vh;
        .title {
            h1 {
                font-size: 25px;
            }
        }
    }

}

@media screen and (min-width: 577px) {

    .houses_container {
        min-height: 83vh;
        .title {
            h1 {
                font-size: 30px;
            }
        }
    }

}

@media screen and (min-width: 992px) {

    .houses_container {
        min-height: 81vh;
        .title {
            h1 {
                font-size: 35px;
            }
        }
    }

}