.filters {
    width: 100%;
    .title {
        text-align: center;
        h2 {
            text-transform: uppercase;
            font-weight: bold;
            color: #333;
        }
    }
    input {
        border: 1px solid #333;
        background-color: white;
        &::placeholder {
            font-size: .85rem;
            letter-spacing: .1rem;
            color: #333;
            padding-left: 4px;
        }
    }
    .forms_form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        div {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: left;
            .etiqueta {
                display: block;
                text-transform: uppercase;
                font-weight: bold;
            }
            .checkbox_box {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
            }
            .price_inputs {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                .min_price_box, .max_price_box {
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: row;
                }
            }
        }
        .buttons_box {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            button {
                border: 2px solid #ff627f;
                border-radius: 10px;
                color: #FFF;
                font-weight: bold;
                text-transform: uppercase;
                background-color: #ff385c;
                &:hover {
                    background-color: #aa2840;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {

    .filters {
        padding: 5px;
        .title {
            display: none;
        }
        .forms_form {
            div {
                gap: 10px;
                .etiqueta {
                    font-size: 16px;
                }
                .checkbox_box {
                    gap: 5px;
                    label {
                        font-size: 16px;
                    }
                }
                .price_inputs {
                    margin-bottom: 25px;
                    .min_price_box, .max_price_box {
                        input {
                            width: 100px;
                        }
                    }
                }
            }
            .buttons_box {
                padding-top: 50px;
                button {
                    padding: 5px;
                    width: 110px;
                    font-size: 15px;
                }
            }
        }
    }

}

@media screen and (min-width: 577px) {

    .filters {
        padding: 5px;
        .title {
            display: none;
        }
        .forms_form {
            div {
                gap: 10px;
                .etiqueta {
                    font-size: 16px;
                }
                .checkbox_box {
                    gap: 5px;
                    label {
                        font-size: 16px;
                    }
                }
                .price_inputs {
                    margin-bottom: 25px;
                    .min_price_box, .max_price_box {
                        input {
                            width: 150px;
                        }
                    }
                }
            }
            .buttons_box {
                padding-top: 50px;
                button {
                    padding: 5px;
                    width: 110px;
                    font-size: 15px;
                }
            }
        }
    }

}

@media screen and (min-width: 1130px) {

    .filters {
        padding: 5px;
        .title {
            display: block;
            padding: 5px;
            padding-bottom: 30px;
            h2 {
                font-size: 25px;
            }
        }
        .forms_form {
            div {
                gap: 10px;
                .etiqueta {
                    font-size: 16px;
                }
                .checkbox_box {
                    gap: 5px;
                    label {
                        font-size: 16px;
                    }
                }
                .price_inputs {
                    margin-bottom: 25px;
                    .min_price_box, .max_price_box {
                        input {
                            width: 110px;
                        }
                    }
                }
            }
            .buttons_box {
                padding-top: 50px;
                button {
                    padding: 5px;
                    width: 110px;
                    font-size: 15px;
                }
            }
        }
    }
}