.home_container {
    padding: 20px;
    width: 100%;
    .title {
        text-align: center;
        padding: 20px;
        h1 {
            text-transform: uppercase;
            font-weight: bold;
            color: #333;
        }
    }
    .map_title {
        text-transform: uppercase;
        font-weight: bold;
        color: #333;
    }
    .maps {
        display: block;
        margin: auto;
        border: 2px solid #ff385c;
        border-radius: 15px;
        .maps_content {
            width: 100%;
            .mapboxgl-map {
                border-radius: 15px;
            }
            .marker_button {
                background-color: transparent;
                border: none;
            }
            .popup {
                text-align: center;
                color: #333;
                cursor: pointer;
                h5 {
                    text-transform: uppercase;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                img {
                    border-radius: 3px;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {

    .home_container {
        min-height: 83vh;
        .title {
            h1 {
                font-size: 25px;
            }
        }
        .map_title {
            font-size: 22px;
            padding: 20px;
            padding-top: 40px;
        }
        .maps {
            width: 90%;
            .maps_content {
                height: 60vh;
                .popup {
                    width: 170px;
                    height: 130px;
                    h5 {
                        font-size: 11px;
                    }
                    img {
                        width: 170px;
                        height: 113px;
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 577px) {

    .home_container {
        min-height: 81vh;
        .title {
            h1 {
                font-size: 30px;
            }
        }
        .map_title {
            font-size: 27px;
            padding: 20px;
            padding-top: 40px;
        }
        .maps {
            width: 80%;
            .maps_content {
                height: 60vh;
                .popup {
                    width: 170px;
                    height: 130px;
                    h5 {
                        font-size: 11px;
                    }
                    img {
                        width: 170px;
                        height: 113px;
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 992px) {

    .home_container {
        min-height: 81vh;
        .title {
            h1 {
                font-size: 35px;
            }
        }
        .map_title {
            font-size: 32px;
            padding: 20px;
            padding-top: 40px;
        }
        .maps {
            width: 70%;
            .maps_content {
                height: 60vh;
                .popup {
                    width: 170px;
                    height: 130px;
                    h5 {
                        font-size: 11px;
                    }
                    img {
                        width: 170px;
                        height: 113px;
                    }
                }
            }
        }
    }

}