.card-list {
	width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 20px;
  gap: 50px;
  .house_card {
    max-width: 350px;
    background-color: #FFF;
    box-shadow: 0 0 0 1px rgba(#000, .05), 0 20px 50px 0 rgba(#000, .1);
    border-radius: 15px;
    overflow: hidden;
    padding: 1.25rem;
    position: relative;
    transition: .15s ease-in;
    cursor: pointer;
    &:hover, &:focus-within {
      box-shadow: 0 0 0 2px #ff385c, 0 10px 60px 0 rgba(#000, .1);
      transform: translatey(-5px);
    }
    .card-image {
      border-radius: 10px;
      overflow: hidden;
      width: 280px;
      height: 200px;
      img {
        max-width: 100%;
        display: block;
        width: inherit;
        height: inherit;
        object-fit: cover;
      }
    }
    .card_bio {
      display: block;
      margin-top: 1rem;
      .card_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title {
          text-align: left;
          margin: 0;
          padding: 0;
          font-weight: bold;
          font-size: 18px;
          line-height: 1.25;
        }
        .price {
          margin: 0;
          padding: 0;
          font-weight: bold;
          font-size: 18px;
          line-height: 1.25;
        }
      }
      .card_services{
        display: block;
        text-align: left;
        margin-top: 1rem;
      }
    }
  }
}

@media screen and (max-width: 576px) {

  .card-list {
    margin-top: 10px;
    gap: 40px;
    .house_card {
      max-width: 350px;
      .card-image {
        width: 280px;
        height: 200px;
      }
      .card_bio {
        margin-top: 1rem;
        .card_title {
          .title {
            margin: 0;
            padding: 0;
            font-size: 18px;
          }
          .price {
            margin: 0;
            padding: 0;
            font-size: 18px;
          }
        }
        .card_services{
          margin-top: 1rem;
        }
      }
    }
  }

}

@media screen and (min-width: 577px) {

  .card-list {
    margin-top: 15px;
    gap: 40px;
    .house_card {
      max-width: 350px;
      .card-image {
        width: 280px;
        height: 200px;
      }
      .card_bio {
        margin-top: 1rem;
        .card_title {
          .title {
            margin: 0;
            padding: 0;
            font-size: 18px;
          }
          .price {
            margin: 0;
            padding: 0;
            font-size: 18px;
          }
        }
        .card_services{
          margin-top: 1rem;
        }
      }
    }
  }

}

@media screen and (min-width: 1130px) {

  .card-list {
    margin-top: 20px;
    gap: 30px;
    .house_card {
      max-width: 350px;
      .card-image {
        width: 280px;
        height: 200px;
      }
      .card_bio {
        margin-top: 1rem;
        .card_title {
          .title {
            margin: 0;
            padding: 0;
            font-size: 18px;
          }
          .price {
            margin: 0;
            padding: 0;
            font-size: 18px;
          }
        }
        .card_services{
          margin-top: 1rem;
        }
      }
    }
  }

}